@charset "windows-1251";


/* Инфо блок */
.info-block {
	position: relative;
	width: 100%; height: 100%;
	overflow: hidden;
	
	}	.b-ib-cont {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			padding: 25px;


			/* Матрёшка */
			}	.b-ib-cont .matryoshka {
					position: relative;
					zoom: 1;
					}	.b-ib-cont .matryoshka h1 {
							font-size: 85%;
							font-weight: normal;
							margin: 0; padding: 0;
							/* margin-bottom: .3em; */
					}	.b-ib-cont .matryoshka h3 {
							font-size: 100%;
							font-weight: bold;
							margin-right: 5px;
			
			/* Меню */
			}	.b-ib-cont .menu {
					margin-left: -25px; margin-right: -25px;
					padding-left: 25px; padding-right: 25px;
			
			/* Элементы */
			}	.b-ib-cont .matryoshka,
				.b-ib-cont .promo,
				.b-ib-cont .tags,
				.b-ib-cont .menu,
				.b-ib-cont .titres,
				.b-ib-cont .description {
					margin-bottom: 15px;
			
			
			}	.info-block .l-user-list {
					margin-bottom: 15px;
					
					}	.info-block .l-user-list h1 {
							margin-bottom: 10px;
							/* font-weight: bold; */
							font-size: 13px;

							}	.info-block .l-user-list h1 ins {
									font-weight: normal;
									font-size: 85%;
									color: #898989;
									text-decoration: none;
									margin-left: .5em;
			
					}	.info-block .user-list {
							position: relative;
							zoom: 1;
			
							}	.info-block .user-list li {
									display: -moz-inline-box; display: inline-block; //display: inline; zoom: 1;
									vertical-align: middle;
									margin-right: 2px;
									margin-bottom: 2px;
									}	.info-block .user-list li a {
											position: relative;
											display: block;
											width: 25px;
									}	.info-block .user-list li a img {
											width: 100%;
											display: block;
									}	.info-block .user-list li a:hover {
											z-index: 4;
											width: 50px;
											margin: -12px -13px -13px -12px;
			

}	.l-ib-hint {
		position: absolute;
		width: 100%;
		padding: 8px;
		z-index: 5000;

}	.l-ib-hint-top {
		top: 0; left: 0;
		}	.ib-hint {
				position: relative;
				margin: 15px;

		}	.ib-hint-top .ib-hint-cn {
				position: absolute;
				background-image: url(/usr/tpl/picts/info-block-outside-top.png);
				background-repeat: no-repeat;

		}	.ib-hint-top .ib-hint-tl {
				left: -9px; top: -17px;
				width: 9px; height: 17px;
				background-position: 0 0;
		}	.ib-hint-top .ib-hint-tr {
				right: -9px; top: -17px;
				width: 9px; height: 17px;
				background-position: 100% 0;
		}	.ib-hint-top .ib-hint-bl {
				left: -9px; bottom: -10px;
				width: 9px; height: 10px;
				background-position: 0 100%;
		}	.ib-hint-top .ib-hint-br {
				right: -9px; bottom: -10px;
				width: 9px; height: 10px;
				background-position: 100% 100%;
		}	.ib-hint-top .ib-hint-t {
				left: 0; top: -17px;
				width: 100%; height: 17px;
				background-position: 50% 0;
		}	.ib-hint-top .ib-hint-r {
				right: -9px; top: 0;
				width: 9px; height: 100%;
				background-position: 100% 50%;
		}	.ib-hint-top .ib-hint-b {
				left: 0; bottom: -10px;
				width: 100%; height: 10px;
				background-position: 50% 100%;
		}	.ib-hint-top .ib-hint-l {
				left: -9px; top: 0;
				width: 9px; height: 100%;
				background-position: 0 50%;
				
		}	.ib-hint-top .ib-hint-cont {
				position: relative;
				background: #ffff99;
				padding: 10px;

}	.l-ib-hint-bottom {
		bottom: 0; left: 0;
		
		}	.ib-hint-bottom .ib-hint-cn {
				position: absolute;
				background-image: url(/usr/tpl/picts/info-block-outside-bottom.png);
				background-repeat: no-repeat;

		}	.ib-hint-bottom .ib-hint-tl {
				left: -9px; top: -9px;
				width: 9px; height: 9px;
				background-position: 0 0;
		}	.ib-hint-bottom .ib-hint-tr {
				right: -9px; top: -9px;
				width: 9px; height: 9px;
				background-position: 100% 0;
		}	.ib-hint-bottom .ib-hint-bl {
				left: -9px; bottom: -19px;
				width: 9px; height: 19px;
				background-position: 0 100%;
		}	.ib-hint-bottom .ib-hint-br {
				right: -9px; bottom: -19px;
				width: 9px; height: 19px;
				background-position: 100% 100%;
		}	.ib-hint-bottom .ib-hint-t {
				left: 0; top: -9px;
				width: 100%; height: 9px;
				background-position: 50% 0;
		}	.ib-hint-bottom .ib-hint-r {
				right: -9px; top: 0;
				width: 9px; height: 100%;
				background-position: 100% 50%;
		}	.ib-hint-bottom .ib-hint-b {
				left: 0; bottom: -19px;
				width: 100%; height: 19px;
				background-position: 50% 100%;
		}	.ib-hint-bottom .ib-hint-l {
				left: -9px; top: 0;
				width: 9px; height: 100%;
				background-position: 0 50%;
				
		}	.ib-hint-bottom .ib-hint-cont {
				position: relative;
				background: #ffff99;
				padding: 10px;
		
		

/*
}	.info-block .l-ib-outsider-top {
		position: absolute;
		top: 0; left: 0;
		}	.info-block .ib-outsider-top {
				position: relative;
				}	.info-block .ib-os-cn {
						position: absolute;
						background: #ffff99;
*/

				/* Промо */
				}	.info-block .promo {

				/* Теги */
				}	.info-block .tags {
						}	.info-block .tags dt {
								display: none;
								font-size: 90%;
						}	.info-block .tags dt:after {
								content: ":";
						}	.info-block .tags dd {
								}	.info-block .tags ul {
										clear: both;
										overflow: hidden;
										zoom: 1;
										}	.info-block .tags ul li {
												float: left;
												font-size: 90%;
												margin-right: .5em;
												/* behavior: expression(!this.a ? (this.a = 1, (this.nextSibling ? this.innerHTML = this.innerHTML + "&nbsp;" : 0)) : 0); */
										}	.info-block .tags dd ul li:not(:last-child):after {
												/* content: "\a0"; */
												}	.info-block .tags dd ul li a {
														color: #3399cc;

				/* Фильтр */
				}	.info-block .filter {
						position: relative;
						z-index: 5;
						/* border: 1px solid red; */
						}	.info-block .filter form {
								position: absolute;
								top: 0; left: 0;
								width: 100%;
								}	.info-block .filter form .overflow {
										position: relative;
										margin: 10px -25px;
										padding: 15px 25px;
										background: #ecebcd;
										/* border: 1px solid cyan; */

				/* Навигация */
				}	.info-block .navigation {
						background: #f6f6f6;
						position: relative;
						margin: 25px -25px -25px -25px;
						padding: 15px 25px 25px 25px;
						}	.info-block .navigation table {
								width: 100%;
						}	.info-block .navigation th {
								/* width: 33.3%; */
								font-size: .9em;
								text-align: left;
								margin: 0; padding: 0;
								padding-bottom: .7em;
								}	.info-block .navigation th a {
										color: black;
								}	.info-block .navigation td a {
										color: #888;
								}	.info-block .navigation h2 {
										margin: 0; padding: 0;
										font-size: .9em;
										font-weight: normal;
								}	.info-block .navigation h2:not(:last-child) {
										margin-bottom: .5em;
				
				/* ======================== Обзор ======================== */
				
				}	.info-block #review {
						zoom: 1;

						}	.info-block #review > *:last-child {
								margin-bottom: 0;

						/* Титры */
						}	.info-block .titres {
								zoom: 1;
								}	.info-block .titres dl {
										margin-bottom: 5px;
										}	.info-block .titres dl dt,
											.info-block .titres dl dd {
												display: inline;
												font-size: 12px;
												color: #656565;
										}	.info-block .titres dl dt {
												color: #000;
												behavior: expression(!this.a ? (this.a = 1, (this.nextSibling ? this.innerHTML = this.innerHTML + ":" : 0)) : 0);
										}	.info-block .titres dl dt:after {
												content: "\3a\a0";
						
						/* Описание */
						}	.info-block #review .description {
								position: relative;
								}	.info-block #review .description .header {
										padding-left: 35px;
										margin-bottom: 5px;
										min-height: 25px;
										//height: 25px;
										}	.info-block #review .description .header img {
												position: absolute;
												top: 0; left: 0;
												width: 25px; height: 25px;
										}	.info-block #review .description .header h5 {
												font-size: 100%;
												font-weight: normal;
										}	.info-block #review .description .header small {
												color: #aaa;
												font-size: 90%;
						
						/* Расписание */
						}	.info-block .timetable {
								}	.info-block .timetable h4 {
										text-transform: lowercase;
										margin-bottom: 8px;
										font-size: 115%;

								/* Дни недели  */
								}	.info-block .timetable .week-days {
										width: 100%;
										margin-bottom: 15px;
										}	.info-block .timetable .week-days td {
												vertical-align: baseline;
										}	.info-block .timetable .week-days .days-list {
												width: 50%;
												white-space: nowrap;
										}	.info-block .timetable .week-days .switch {
												width: 50%;
												padding-left: 10px;
												font-size: 90%;
												}	.info-block .timetable .week-days .switch a.ctrl_page-prev {
														behavior: expression(!this.a ? (this.a = 1, (this.nextSibling ? this.innerHTML =  "&larr;&nbsp;" + this.innerHTML : 0)) : 0);
												}	.info-block .timetable .week-days .switch a.ctrl_page-next {
														behavior: expression(!this.a ? (this.a = 1, (this.nextSibling ? this.innerHTML = this.innerHTML + "&nbsp;&rarr;" : 0)) : 0);
												}	.info-block .timetable .week-days .switch a.ctrl_page-prev:before {
														content: "\2190\a0";
														font-family: Arial;
												}	.info-block .timetable .week-days .switch a.ctrl_page-next:after {
														content: "\a0\2192";
														font-family: Arial;
										}	.info-block .timetable .week-days ul {
												/* background: #f6fcf0; */

												}	.info-block .timetable .week-days ul li {
														display: inline-block;
														//display: inline;
														margin-right: 12px;
														font-size: 95%;
														zoom: 1;
												
												
												/* margin-right: 5px; */
												text-transform: uppercase;
												text-align: center;
												
												}	.info-block .timetable .week-days li a {
														color: #d5bb02;
														font-size: 90%;
														/* padding: 0px 6px 7px; */
														
												}	.info-block .timetable .week-days li a.selected {
														margin: -2px -6px -7px;
														padding: 2px 6px 7px;
														background: url(/usr/tpl/picts/review_bg.gif) 50% 100% no-repeat;
														color: #000;
														text-decoration: none;
										
										/*				
										}	.info-block .timetable .week-days li.current {
												border: 1px solid #cc0000;
												margin: 0;
										*/

										}	.info-block .timetable .week-days li.selected {
												
												}	.info-block .timetable .week-days li.selected a {
														text-decoration: none;
														color: white;

								/* Сетка */
								}	.info-block .timetable .grid {
										width: 100%;
										}	.info-block .timetable .grid .name,
											.info-block .timetable .grid .times {
												width: 50%;
												padding-bottom: 5px;
												vertical-align: baseline;
												//vertical-align: text-top;
										}	.info-block .timetable .grid .name {
												padding-right: 10px;
												font-size: 90%;

												}	.info-block .timetable .grid ul {
														zoom: 1;
														}	.info-block .timetable .grid ul li {
																display: inline-block;
																//display: inline;
																margin-right: .5em;
																font-size: .8em;
																zoom: 1;
														}	.info-block .timetable .grid ul li.past {
																color: #888;

}