@charset "windows-1251";

/* Промо-блок */
.promo {
	overflow: hidden;
	position: relative;
	/* margin-bottom: 10px; */
	zoom: 1;
	
	/*
	}	.promo i,
		.promo u {
			display: block;
			font-style: normal;
			font-weight: normal;
	*/
	


	}	.promo .header {
			}	.promo .header .name,
				.promo .header .date {
					padding-bottom: 5px;
					height: 26px;
					vertical-align: baseline;
					padding-top: 4px;
			}	.promo .header .name {
					width: 70%;
					font-weight: bold;
					color: #00cc00;
					}	.promo .header .name div {
							position: relative;
							zoom: 1;
							}	.promo .header .name div i {
									position: absolute;
									top: 50%; left: 0;
									margin-top: -13px;
									width: 26px; height: 26px;

									}	.music .header .name div i,
										.movie .header .name div i,
										.art .header .name div i,
										.dance .header .name div i,
										.science .header .name div i,
										.alco .header .name div i,
										.food .header .name div i,
										.fashion .header .name div i {
											background: url(/usr/tpl/picts/rubricator_icons.gif) 100% 0 no-repeat;
									
									}	.music .header .name div i {
											background-position: 100% -104px;
									}	.movie .header .name div i {
											background-position: 100% 0;
									}	.art .header .name div i {
											background-position: 100% -78px;
									}	.dance .header .name div i {
											background-position: 100% -182px;
									}	.science .header .name div i {
											background-position: 100% -130px;
									}	.alco .header .name div i {
											background-position: 100% -208px;
									}	.food .header .name div i {
											background-position: 100% -26px;
									}	.fashion .header .name div i {
											background-position: 100% -156px;
									
							}	.promo .header .name div a {
									display: block;
									padding-left: 28px;
							
							}	.no-icon .header .name div a {
									padding-left: 0 !important;
									
			}	.promo .header .date {
					width: 30%;
					white-space: nowrap;
					font-size: 90%;


			}	.promo .container {
					position: relative;
					height: 100px; width: 100%;
					overflow: hidden;

					}	.promo .container .image {
							display: block;
							position: absolute;
					
					}	.hilited .container .hiliter {
							display: block;
							position: absolute;
							background: url(/usr/tpl/picts/klinika.gif);
							filter:alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;
							width: 100%; height: 100%;

					}	.promo .container i {
							position: absolute;
					}	.promo .container .part {
							top: 5px; left: 5px;
							width: 20px; height: 20px;
							overflow: hidden;
					}	.promo .container .rating {
							bottom: 0; left: 0;
							width: 100%; height: 16px;
							
							}	.promo .container .rating b {
									position: relative;
									display: block;
									width: 100%; height: 100%;
							
									}	.promo .container .rating .scale {
											position: relative;
											height: 100%;
											filter:alpha(opacity=80);
											-moz-opacity: 0.8;
											-khtml-opacity: 0.8;
											opacity: 0.8;
											
											}	.promo .container .rating .scale .neg,
												.promo .container .rating .scale .pos {
													position: absolute;
													top: 0;
													width: 100%; height: 100%;
											
											}	.promo .container .rating .scale .neg {
													left: 0;
													width: 50%;
													overflow: hidden;
													
											}	.promo .container .rating .scale .pos {
													right: 0;
													width: 50%;
													overflow: hidden;
													
													}	.promo .container .rating .scale .neg div,
														.promo .container .rating .scale .pos div {
															height: 100%;
															background: url(/usr/tpl/picts/rating_scale.gif) 0 0 no-repeat;
													}	.promo .container .rating .scale .neg div {
															background-position: 0 0;
															
													}	.promo .container .rating .scale .pos div {
															background-position: 100% -16px;
									
									}	.promo .container .rating .control {
											width: 100%; height: 100%;
											position: absolute;
											top: 0; left: 0;
											zoom: 1;
										
											}	.promo .container .rating .control td {
													vertical-align: middle;
													width: 50%;
													padding: 0 5px;
													}	.promo .container .rating .control td span {
															color: white;
															font-size: 10px;
															vertical-align: middle;
													
													}	.promo .container .rating .control td ins {															
															display: inline-block;
															margin-bottom: 2px;
															text-decoration: none;
															font-size: 90%;
															color: white
															
													}	.promo .container .rating .control td button {
															border: none;
															/* display: block; */
															cursor: pointer; //cursor: hand;
															width: 13px; height: 13px;
															margin: 0; padding: 0;
															margin-bottom: 1px;
															vertical-align: middle;
															background: transparent url(/usr/tpl/picts/rating_signs.gif) 0 0 no-repeat;
															
											}	.promo .container .rating .control td.neg {
													text-align: left;
													}	.promo .container .rating .control td.neg button.remove {
															background-position: -13px 0;
															margin-right: 5px;
													}	.promo .container .rating .control td.neg button.remove-sel {
															background-position: -13px -13px;
															margin-right: 5px;
													
											}	.promo .container .rating .control td.pos {
													text-align: right;
													}	.promo .container .rating .control td.pos button.add {
															background-position: 0 0;
															margin-left: 5px;
													}	.promo .container .rating .control td.pos button.add-sel {
															background-position: 0 -13px;
															margin-left: 5px;
									
									/*
									
									
									}	.promo .container .rating .scale .neg div {
											background-position: 0 0;
									}	.promo .container .rating .scale .pos div {
											background-position: 0 -16px;
									*/
									
					}	.promo .container .tags {
							position: absolute;
							left: 0; bottom: 0;
							padding: 1px 2px 2px 2px;
							font-size: 85%;
							width: 100%;
							background: black;
							filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;
							overflow: hidden;
							
							}	.promo .container .tags li {
									display: -moz-inline-box; display: inline-block; //display: inline; zoom: 1;
									margin-right: .5em;
									}	.promo .container .tags li a {
											color: #666633;

					}	.promo .container .action {
							top: 5px; right: 5px;
							
							}	.promo .container .action button {
									background: none;
									border: none;
									margin: 0; padding: 0;
									width: 17px; height: 17px;
									background: url(/usr/tpl/picts/promo_icons.gif) 0 0 no-repeat;
							}	.promo .container .action button.add {
									background-position: 0 0;
							}	.promo .container .action button.add-sel {
									background-position: -17px 0;
							}	.promo .container .action button.remove {
									background-position: 0 -17px;
							}	.promo .container .action button.remove-sel {
									background-position: -17px -17px;

}