@charset "windows-1251";

.b-rubricator {
	width: 100%; height: 100%;
	position: relative;

	}	.b-rrr-selector {
			width: 100%; height: 100%;


}




#rrr-dd { width: 100%; height: 220px; visibility: hidden; position: absolute; top: auto; left: auto; z-index: 13; overflow: visible; }
#rrr table, #rrr-dd table { width: 100%; }
#rrr td, #rrr-dd td {width:50%;} 
#rrr-dd .barrel {height:220px;zoom:1;overflow:hidden;position:relative; /* border: 1px double #ccc; */}
#rrr-dd .rr_blind { height:220px;zoom:1;overflow:hidden;position:relative; background:#202020; margin-top:-220px; display:none; }
/*
#rrr-dd .list { color:#fff;background:#000;position: absolute; width:100%}
#rrr-dd .list a { padding:0 10px; line-height: 28px; height: 28px; display: block; text-decoration:none; color: #FFF; white-space:nowrap; }
#rrr-dd .list a:hover { color: #333; }

#rrr-dd #rr_l .list a:hover { background-color: #666; color: #EFE; }
*/
#rrr .rrr_text { color: #FFF; }


			
			
				#rrr-dd .list {
					background: #202020;
			
					}	#rrr-dd .list a {
							display: block;
							position: relative;
							color: white;
							text-decoration: none;
			
					}	#rrr-dd .part a {
							padding-left: 46px;
							/* border-bottom: 1px solid #333; */
							overflow: hidden;
							cursor: pointer;
							//cursor: hand;
							
					}	#rrr-dd .part a:hover,
						#rrr-dd .part a.actual {
							background: url(/usr/tpl/picts/rubricator_bg.gif);
					
					}	#rrr-dd .part a i {
							display: block;
							position: absolute;
							-overflow: hidden;
							top: 50%; left: 5px;
							margin-top: -16px;
							width: 36px; height: 30px;
							background: url(/usr/tpl/picts/rubricator_icons2.gif) 0 0 no-repeat;
							
					}	#rrr-dd .part a:hover i {
							
					}	#rrr-dd .part a.edu i {
							background-position: 0 0;
					}	#rrr-dd .part a.art i {
							background-position: -36px 0;
					}	#rrr-dd .part a.cin i {
							background-position: -72px 0;
					}	#rrr-dd .part a.mus i {
							background-position: -108px 0;
					}	#rrr-dd .part a.dan i {
							background-position: -144px 0;
					}	#rrr-dd .part a.foo i {
							background-position: -180px 0;
					}	#rrr-dd .part a.alc i {
							background-position: -216px 0;
					}	#rrr-dd .part a.fas i {
							background-position: -252px 0;
					
					/*
					}	#rrr-dd .part a.edu:hover i,
						#rrr-dd .part a.edu.actual i {
							background-position: 0 -30px;
					}	#rrr-dd .part a.art:hover i,
						#rrr-dd .part a.art.actual i {
							background-position: -36px -30px;
					}	#rrr-dd .part a.cin:hover i,
						#rrr-dd .part a.cin.actual i {
							background-position: -72px -30px;
					}	#rrr-dd .part a.mus:hover i,
						#rrr-dd .part a.mus.actual i {
							background-position: -108px -30px;
					}	#rrr-dd .part a.dan:hover i,
						#rrr-dd .part a.dan.actual i {
							background-position: -144px -30px;
					}	#rrr-dd .part a.foo:hover i,
						#rrr-dd .part a.foo.actual i  {
							background-position: -180px -30px;
					}	#rrr-dd .part a.alc:hover i,
						#rrr-dd .part a.alc.actual i {
							background-position: -216px -30px;
					}	#rrr-dd .part a.fas:hover i,
						#rrr-dd .part a.fas.actual i {
							background-position: -252px -30px;

					}	#rrr-dd .part a:hover i,
						#rrr-dd .part a.actual i {
							background-position-y: -30px;
					*/
					
					}	#rrr-dd .subpart a {
							padding-left: 5px;
					

					}	#rrr-dd .subpart a:hover,
						#rrr-dd .subpart a.actual {
							background: #00cc00;
							
							
					}	#rrr-dd .subpart a.rr-edu:hover, .readColors a.rr-edu {
							background-color: #ff0000;
					}	#rrr-dd .subpart a.rr-gal:hover, .readColors a.rr-gal {
							background-color: #ff9c00;
					}	#rrr-dd .subpart a.rr-cin:hover, .readColors a.rr-cin {
							background-color: #00cc00;
					}	#rrr-dd .subpart a.rr-con:hover, .readColors a.rr-con {
							background-color: #01a863;
					}	#rrr-dd .subpart a.rr-clu:hover, .readColors a.rr-clu {
							background-color: #00bfe2;
					}	#rrr-dd .subpart a.rr-bar:hover, .readColors a.rr-bar {
							background-color: #6600ff;
					}	#rrr-dd .subpart a.rr-res:hover, .readColors a.rr-res {
							background-color: #0072ff;
					}	#rrr-dd .subpart a.rr-sto:hover, .readColors a.rr-sto {
							background-color: #b400ff;
					}	#rrr-dd .subpart a.rr-the:hover, .readColors a.rr-the {
							background-color: #609f7f;
			
			}	.b-rubricator .b-rrr-selector .b-rrr-slr-menu {
					vertical-align: middle;
					width: 50%; height: 100%;
					/* background-color: gray; */
					background-image: url(/usr/tpl/picts/rubricator_bg.png);
					background-position: 0 0;
					background-repeat: repeat-x;
					-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_bg.png", sizingMethod="scale");
					}	.rubricator .b-rrr-slr-menu .sel-item {
							display: inline-block;
							position: relative;
							margin: 0 10px;
							}	.rubricator .b-rrr-slr-category .sel-item i {
									position: absolute;
									top: 50%; left: 0;
									margin-top: -13px;
									width: 26px; height: 26px;
									background-repeat: no-repeat;
									
							}	.rubricator .b-rrr-slr-menu .sel-item .text {
									display: block;
									color: white;
							}	.rubricator .b-rrr-slr-category .sel-item .text {

							
							}	.rubricator .edu .text,
								.rubricator .art .text,
								.rubricator .cin .text,
								.rubricator .mus .text,
								.rubricator .dan .text,
								.rubricator .foo .text,
								.rubricator .alc .text,
								.rubricator .fas .text {
									margin-left: 35px;
							
							}	.rubricator .edu i {
									background-image: url(/usr/tpl/picts/rubricator_icon3.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon3.png", sizingMethod="scale");
							}	.rubricator .art i {
									background-image: url(/usr/tpl/picts/rubricator_icon_art.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon_art.png", sizingMethod="scale");
							}	.rubricator .cin i {
									background-image: url(/usr/tpl/picts/rubricator_icon7.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon7.png", sizingMethod="scale");
							}	.rubricator .mus i {
									background-image: url(/usr/tpl/picts/rubricator_icon4.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon4.png", sizingMethod="scale");
							}	.rubricator .dan i {
									background-image: url(/usr/tpl/picts/rubricator_icon1.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon1.png", sizingMethod="scale");
							}	.rubricator .foo i {
									background-image: url(/usr/tpl/picts/rubricator_icon8.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon8.png", sizingMethod="scale");
							}	.rubricator .alc i {
									background-image: url(/usr/tpl/picts/rubricator_icon_alc.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon_alc", sizingMethod="scale");
							}	.rubricator .fas i {
									background-image: url(/usr/tpl/picts/rubricator_icon2.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon2.png", sizingMethod="scale");
							
							/*
							}	.rubricator .fashion .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon2.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon2.png", sizingMethod="scale");
							}	.rubricator .food .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon8.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon8.png", sizingMethod="scale");
							}	.rubricator .alco .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon8.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon8.png", sizingMethod="scale");
							}	.rubricator .dance .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon1.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon1.png", sizingMethod="scale");
							}	.rubricator .music .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon4.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon4.png", sizingMethod="scale");
							}	.rubricator .movie .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon7.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon7.png", sizingMethod="scale");
							}	.rubricator .art .sel-item i {
									background-image: url(/usr/tpl/picts/rubricator_icon6.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon6.png", sizingMethod="scale");
							}	.rubricator .knowledge i {
									background-image: url(/usr/tpl/picts/rubricator_icon3.png);
									-background-image: none; -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/usr/tpl/picts/rubricator_icon3.png", sizingMethod="scale");
							*/
							
			}	